<div id="<%= dom_id project %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= project.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= project.description %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">State:</strong>
    <span class="mt-6 px-4 py-2 bg-green-500 text-white rounded-full hover:bg-green-600">
      <%= project.state %>
    </span>
  </p>
</div>
